export ZIPPED_ARTIFACT_BUCKET="zipped-artifact-2021-1121-shota"
export UNZIPPED_ARTIFACT_BUCKET="unzipped-artifact-20211121-shota"
export STACK_BUCKET="stack-bucket-for-lambda-unzipper-20211121-shota"
export GOPATH=$(pwd)
